@import url(frozen.css);
@import url(global.css);
@import url(fix.css);
@import url(fontello.css);

.c-header {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#FAB32B), to(#FB9026)) !important;
    color: #FFF !important;
    font-size: 16px !important;
}
.c-grid-header {
   padding-left: 40px;
   background-color: #F0F1F2 !important;
}
.c-grid-header li {
    text-align: center;
    padding-top: 10px;
}
.c-ranking-badge {
    text-align: center;
    color: #FFF;
    width: 20px;
    height: 20px;
    margin: 0;
    border-radius: 50%;
}
.c-ranking1 {
    background: #F9121C;
}
.c-ranking2 {
    background: #FAD031;
}
.c-ranking3 {
    background: #499F1A;
}
.c-text-center {
    text-align: center;
}

/*common parts start*/
.c-footer{
    width: 100%;
}
/*common parts end*/

/*foorter CSS start*/
.c-footer{
    position: absolute;
    height: 40px;
    background: #4f8e0f;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#347008), to(#4f8e0f) );
}
.c-footer ul{
    list-style: none;
    padding:0 5px;
}
.c-footer ul li{
    padding-top:10px;
    float: left;
    text-align: center;
    width: 25%;
}
.c-footer ul li a{
    font-weight: normal;
    font-size: 14px;
    font-weight: 600px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-shadow: 0 1px 0 #444;
    font-size: 14px;
    color:#fff;
    display: block;
}
.c-footer li:nth-child(1) a{
    height: 20px;
    border-right:1px solid #7eb027;
}
.c-footer li:nth-child(2) a,.c-footer li:nth-child(3) a{
    height: 20px;
    border-right:1px solid #7eb027;
    border-left:1px solid #1f3d05;
}
.c-footer li:nth-child(4) a{
    height: 20px;
    border-left:1px solid #1f3d05;
}
.c-a-return {
    position: absolute;
    left: 0px;
    padding: 0px 10px;
    color: #FFF !important;
}
.c-share-bg {
    /*background:url(../img/share_bg.png) no-repeat;*/
    background-color: rgba(0, 0, 0, 0.9);
    background-size: 100%;
    -webkit-box-align: start;
}

.c-share-bg .ui-dialog-cnt {
    background:url(../img/share_bg.png) no-repeat;
    background-size: 100%;
    text-align: center;
    background-color: rgba(253, 253, 253, 0);
    margin-bottom: 20px;
    height: 480px;
}

@media (min-width: 320px) {
   .c-share-bg .ui-dialog-cnt {
        width: 290px;
    }
}
@media (min-width: 375px) {
   .c-share-bg .ui-dialog-cnt {
        width: 345px;
    }
}
@media (min-width: 414px) {
   .c-share-bg .ui-dialog-cnt {
        width: 384px;
    }
}
@media (min-height: 480px) {
   .c-share-content {
        padding-top: 250px;
    }
}
@media (min-height: 568px) {
   .c-share-content {
        padding-top: 290px;
    }
}
@media (min-height: 667px) {
    .c-share-content {
        padding-top: 330px;
    }
}
@media (min-height: 736px) {
   .c-share-content {
        padding-top: 370px;
    }
}
.c-share-btn {
    background: #ECAC2B;
    color: #FFF;
    margin-bottom: 10px;
    width: 200px;
    height: 44px;
}
.c-share-btn:before {
    border: 1px solid #ECAC2B;
}