@import url(frozen.css);
@import url(global.css);
@import url(fix.css);

.c-grid-header li {
    text-align: center;
    padding-top: 10px;
}
.c-ranking-badge {
    text-align: center;
    color: #FFF;
    width: 20px;
    height: 20px;
    margin: 0;
    border-radius: 50%;
}
.c-ranking1 {
    background: red;
}
.c-ranking2 {
    background: yellow;
}
.c-ranking3 {
    background: green;
}
.c-text-center {
    text-align: center;
}
