/*@import url(frozen.css);*/
@import url(global.css);
@import url(fix.css);
@import url(fontello.css);

.c-header {
    background: #FB9026 !important;
    color: #FFF !important;
    font-size: 16px !important;
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-weight: 600;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0,0,0,.6);
}
.c-grid-header {
   padding-left: 40px;
   background-color: #F0F1F2 !important;
}
.c-grid-header li {
    text-align: center;
    padding-top: 10px;
}
.c-ranking-badge {
    text-align: center;
    color: #FFF;
    width: 20px;
    height: 20px;
    margin: 0;
    border-radius: 50%;
}
.c-ranking1 {
    background: #F9121C;
}
.c-ranking2 {
    background: #FAD031;
}
.c-ranking3 {
    background: #499F1A;
}
.c-text-center {
    text-align: center;
}
/* Framework parts start*/
.c-footer{
    width: 100%;
}
/* Framework parts end*/

/*foorter CSS start*/
.c-footer{
    height: 40px;
    bottom: 0;
    background: #4f8e0f;
}
.c-footer ul{
    list-style: none;
    padding:0 5px;
}
.c-a{
    width: calc(25% - 1px);
    width: -webkit-calc(25% - 1px);
    border-right: 1px solid #E0E0E0;
}
.c-b{
    width: calc(25% - 2px);
    width: -webkit-calc(25% - 2px);
    border-left: 1px solid #1A1D17;
    border-right: 1px solid #E0E0E0;
}
.c-c{
    width: -webkit-calc(25% - 1px);
    width: calc(25% - 1px);
    border-left: 1px solid #1A1D17;
}
.c-footer ul li{
    margin-top:10px;
    float: left;
    text-align: center;
}
.c-footer ul li a{
    font-weight: normal;
    font-size: 14px;
    font-weight: 600px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-shadow: 0 1px 0 #444;
    font-size: 14px;
    color:#fff;
    display: block;
}
.c-a-return {
    position: absolute;
    left: 0px;
    padding: 0px 10px;
    color: #FFF !important;
}
.c-share-bg {
    /*background:url(../img/share_bg.png) no-repeat;*/
    background-color: rgba(0, 0, 0, 0.9);
    background-size: 100%;
    -webkit-box-align: start;
}
.c-share-bg .ui-dialog-cnt{
    margin:0 auto;
}
@media (min-height: 480px) {
    .c-share-bg {
        height: 580px;
    }
}
@media (min-height: 568px) {
    .c-share-bg {
        height: 610px;
    }
}
@media (min-height: 667px) {
    .c-share-bg {
        height: 680px;
    }
}
@media (min-height: 736px) {
    .c-share-bg {
        height: 736px;
    }
}
.c-share-bg .ui-dialog-cnt {
    background:url(../img/share_bg.png) no-repeat;
    background-size: 100%;
    text-align: center;
    background-color: rgba(253, 253, 253, 0);
    margin-bottom: 20px;
    height: 480px;
}

@media (min-width: 320px) {
   .c-share-bg .ui-dialog-cnt {
        width: 290px;
    }
}
@media (min-width: 375px) {
   .c-share-bg .ui-dialog-cnt {
        width: 345px;
    }
}
@media (min-width: 414px) {
   .c-share-bg .ui-dialog-cnt {
        width: 384px;
    }
}
@media (min-height: 480px) {
   .c-share-content {
        padding-top: 250px;
    }
}
@media (min-height: 568px) {
   .c-share-content {
        padding-top: 290px;
    }
}
@media (min-height: 667px) {
    .c-share-content {
        padding-top: 330px;
    }
}
@media (min-height: 736px) {
   .c-share-content {
        padding-top: 370px;
    }
}
.c-share-btn {
    background: #ECAC2B;
    color: #FFF;
    margin-bottom: 10px;
    width: 200px;
    height: 44px;
}
.c-share-btn:before {
    border: none !important;
}
.c-share-btn:active {
    background: #cc9425 !important;
    color: #FFF !important;
}
.c-btn-yellow:not(:disabled):active {
    background: #e59202 !important;
    color: #FFF !important;
}
/*common parts start*/
.c-footer,
.c-main{
    width: 100%;
}
.c-padding-top-bottom-5{
    padding: 5px 0;
}
.c-bar-h5{
    width: 100%;
    height: 5px;
    background: #CACACA;
}
.c-yellow{
    color: #FB9F28;
}
/*common parts end*/

/*activity css start*/
.c-progress-title,
.c-register-gift,
.c-progress-desc,
.c-loan-gift{
    margin:0 15px;
}
.c-progress-rules {
    float: right;
    margin-right: 15px;
    padding-top:10px;
    padding-bottom:5px;
}
.c-progress-title{
    padding-top:10px;
    padding-bottom:5px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 15px;
}
.c-recommended-bar, .c-credited-bar {
    background: #dedede;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    overflow: hidden;
}
.c-register-gift > ul{
    list-style: none;
    display: block;
}
.c-lack-num {
    display: block;
    height:18px;
    line-height: 18px;
    position: relative;
    margin-bottom: 10px;
}
.c-lack-num li{
    width: 25px;
    height: 18px;
    background: red;
    text-align: center;
    line-height: 13px;
    display: block;
    color:#fff;
    float: left;
    position: relative;
    background: url(../img/shape.png) no-repeat
}
.c-recommended-count { 
    left: 20%;
    margin-left:-15px;
    display: block;
}
.c-recommended-bar li, .c-credited-bar li {
    height: 20px;
    line-height: 20px;
    display: block;
    float: left;
    text-align: center;
    position: relative;
    z-index: 3; 
}
.c-recommended-bar-bg, .c-credited-bar-bg {
    background: #67DF01;
    left: -0;
    right: auto;
    position: absolute;
    z-index: 2;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 15px;
    margin-left: 15px;
    width: 0%;
    border-radius: 8px;
}

.c-current-circle, .c-circle{
    display: block;
    width: 30px;
    height: 16px;
    line-height: 16px;
    margin: 2px auto;
    text-align: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: 2px 3px 4px -2px;
    -webkit-box-shadow: 2px 3px 4px -2px;
    float: right;
}
.c-current-circle{
    color: #000;
    background: #FEFF3A;
}
.c-circle{
    color: #ccc;
    background: #999;
}
.c-recommended-prize, .c-credited-prize {
    margin-top: 15px;
    width: 100%;
    height: 20px;
}
.c-recommended-prize li, .c-credited-prize li{
    width: 20%;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    float: left;
    display: block;
    text-align: center;
}
.c-bubble {
    width: 60px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    color:#999;
    border-radius:10px;
    -webkit-border-radius:10px;
    background-color: #D9D9D9;
    position: relative;
    float: right;
}
.c-bubble.active {
    background-color: #67DF01 !important;
    color:#fff !important;
}
/* Don't delete this */
.c-bubble:before {
    content: "";
}
.c-bubble:before {
    left: 50%;
    margin-left: 10px;
    right: auto;
    content: "";
    position: absolute;
    border-bottom: 5px #d9d9d9 solid !important;
    border-left: transparent 5px solid;
    border-right: transparent 5px solid;
    z-index: 2;
    margin-top: -4px;
}
.c-bubble.active:before {
    border-bottom: 5px #67DF01 solid !important;
}
.c-progress-desc{
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    margin: 15px 15px;
    margin-bottom: 0;
    padding-bottom:10px;
    border-bottom:1px solid #ccc;
}
.c-progress_desc .ui-btn:before{
    border:0;
}
.c-progress_desc .ui-btn:active{
    background: #FFA202 !important;
    color: #fff !important;
}
.c-text-left{
    float: left;
    color: #808080;
}
.c-text-right{
    float: right;
}

.c-activity-expend{
    margin-bottom: 20px;
}
.c-activity-expend li{
    border-top:0 !important;
    border-bottom: 1px solid #CFC8C8 !important;
    padding:0;
    margin-left:15px;
    margin-right:15px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
}

.c-activity-expend span {
    padding-left: 5px;
    color:#6b6b6b;
}
.c-activity-expend a{
    position: relative;
    float: right;
    margin:-12px !important;
}
.c-end-img{
    z-index: 2;
    position: absolute;
    top:50%;
    
    left: 50%;
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
}
@media (min-width: 320px) {
   .c-end-img{
        margin-top:-240px;
        margin-left:-53px;
    }
}

@media (min-width: 414px) {
   .c-end-img{
        margin-top:-260px;
        margin-left:-53px;
    }
}
/*activity css end*/

/*friends css start*/
.c-main .ui-border-t {
   border-top: 0; 
}
.c-field {
    margin: 10px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #ccc;
    color: #565656;
    font-weight: 400;
    padding-left: 50px;
}
.c-field .c-get-vervi {
    color: #fff;
    background: #80C42F;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.c-get-vervi:not(:disabled):active {
  background-color: #609123 !important;
}
.c-btn-yellow{
    background-color: #FFA202;
    border-color: #FFA202;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5,#FFA202),to(#FFA202));
    color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
}
.c-btn-yellow:before{
    padding:0;
    border:0;
}
.ui-btn-wrap .c-btn-yellow:not(.disabled):not(:disabled):active,.ui-btn-wrap .c-btn-yellow:active {
    background-color: #activeborder-color: #FFA202;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5,#FFA202),to(#FFA202));
    color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
}
.c-active-rule{
    margin: 15px;
    margin-top:0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px;
    line-height: 22px;
    color:#565656;
    font-weight: 400;
}
.c-active-rule ol{
    margin-left: 20px;
}
.c-active-rule ol li{
    list-style-type:decimal;
}
.c-active-rule p~p{
    margin-top: 5px;
    height: 20px;
    line-height: 20px;
}
.c-yellow-font{
    float: left;
    color: #FFA202;
    font-size: 12px;
}
.c-reco{
    height: 20px;
    line-height: 20px;
    text-align: center;
    float: right;
    background: #FFA202;
    border-color:#FFA202;
    color: #fff;
    padding: 0 5px;
    border-radius: 5px;
    -webkit-border-radius:5px;
    font-size: 12px;
}
.c-activity-expend .ui-list-link li:after,.c-activity-expend li.ui-list-item-link:after {
  background: url(http://i.gtimg.cn/vipstyle/frozenui/1.2.0/img/icon.png?_bid=306) no-repeat 0 -75px;
  -webkit-background-size: 150px auto;
  content: "";
  display: block;
  width: 9px;
  height: 15px;
  position: relative;
  right: 15px;
  top: 50%;
  margin-top: -47px;
  margin-left:100%;
}
/*frineds css end*/

/*expiry css start*/
.c-search-backcolor{
    background: #E0E0E0;
    box-shadow: 1px 2px 3px 0px rgba(23,42,59,0.6) inset;
    -webkit-box-shadow: 1px 2px 3px 0px rgba(23,42,59,0.6) inset;
}

.c-expiry-w100{
    width: 100%;
}
.c-font-right{
    text-align: right !important;
    padding-right:10px;
}
.c-goodslist{
    padding: 10px 15px;
}
.c-goodslist ul{
    list-style: none;
    height: 20px;
}
.c-bottom-border{
    margin:0 15px;
}
.c-goodslist li{
    width:21%;
    float:left;
    margin:10px 2%;
}
.c-goodslist li a{
    width: 100%;
    padding-top:5px;
    padding-bottom:5px;
    
    border-radius: 10px;
    text-align: center;
    background: #67DF01;
    color:#fff;
    float: left;
    display: block;
    font-size: 12px;
}
.c-goodslist li a.active{
    background: red;
}
.c-field-icon {
    position: absolute;
    top: 0px;
    left: 5px;
    color: #E4E5E5;
    font-size: 24px;
}
.c-get-vervi:disabled, .c-btn-yellow:disabled {
    color: #FFF !important;
    background: #ccc !important;
    border: 1px solid #ccc !important;
}
.c-left-colum{
    width: 95px;
    position: absolute;
    text-align: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 44px;
    text-align: right;
    padding-right: 10px;
}
.c-right-username{
    width: 100%;
    padding-left: 95px;
    float: right;
    color: #999;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*expiry css end*/

/*shared css start*/
body{
    background: #fff !important;
}
.c-head {
    width: 100%;
    height: 44px;
    line-height: 44px;
    background:#FF631E;
}
.c-text,.c-countdown{
    font-size:14px;
    font-weight: bold;
}
.c-text{
    margin-left:5px;
    float:left;
    color:#ccc;
    letter-spacing: 2px;
}
.c-countdown{
    float:right;
    color:#fff;
}
.c-countdown span{
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin: 8px 10px 8px 0;
    text-align: center;
    display: block;
    float:left;
    box-shadow:2px 2px 3px 1px rgba(0,0,0,.6) inset;
    -webkit-box-shadow:2px 2px 2px 1px rgba(0,0,0,.6) inset;
    border-radius: 4px;
    border-bottom:1px solid #FF8F29;
}
.c-countdown i{
    float: left;
    font-style: normal;
    width: 10px;
    height: 30px;
    line-height: 30px;
    margin: 5px 0 5px -10px;
    text-align: center;
}
.c-container{
    background-color: #fff;
    position: relative;
}
.c-prize{
    width: 100%;
    background-color: #fff;
    text-align: center;
}
.c-prize-image{
    width: 149px;
    height: 112px;
    text-align: center;
}
@media (min-height: 480px) {
    .c-prize-image{
    margin: 0 auto;
    }
}
@media (max-height: 480px) {
    .c-prize-image{
    margin: 10px auto 0;
    }
}
.c-prize-image img {
    width: 120px;
    height: 100px;
}
.c-prize-name{
    text-align: center;
    color:#4d4d4d;
    font-size: 16px;
    letter-spacing:2px;
    font-weight: 600;
    position: relative;
    margin-top: -5px;
}
.c-red-text{
    color:#f00;
    font-size:16px;
    font-weight: 600;
}
.c-person-info{
    background-image: url(../img/share-backimg.png);
    background-position:center -30px;
    background-repeat: no-repeat;
}
.c-person-logo{
    width: 50px;
    height: 50px;
    margin:0 auto;
    background-image: url(../img/share-icon.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 25px;
    -webkit-border-radius:25px;
    background-size: 50px;
}
.c-person-name{
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 14px;
    color: #F4F4F4;
    letter-spacing: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.c-background-color{
    background: #FB621F;
    padding-bottom:15px;
}
.c-tip{
    text-align: center;
    font-size: 12px;
    color: #fff;
    letter-spacing: 2px;
}
.ui-btn-group-tiled .c-btn-yellow{
    background-color: #FFC100;
    border-color: #FFC100;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5,#F5B74C),to(#FFA100));
    color: #fff;
    box-shadow:5px 5px 10px rgba(0,0,0,.6);
}
.ui-btn-group-tiled .c-btn-yellow:not(.disabled):not(:disabled):active,.ui-btn-group-tiled .c-btn-yellow:active {
    background: #a5a444;
    border-color: #a5a444;
    color: rgba(255, 255, 255, 0.5);
    box-shadow:5px 5px 10px rgba(0,0,0,.6);
}
.ui-btn-wrap .c-btn-yellow:not(.disabled):not(:disabled):active,.ui-btn-wrap .c-btn-yellow:active {
    background: #C67E3B;
    border-color: #C67E3B;
    color: rgba(255, 255, 255, 0.5);
    box-shadow:5px 5px 10px rgba(0,0,0,.6);
}

.ui-btn-wrap .c-btn-gray:not(.disabled):not(:disabled):active,.ui-btn-wrap .c-btn-yellow:active {
    background: #C67E3B;
    border-color: #C67E3B;
    color: rgba(255, 255, 255, 0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow:5px 5px 10px rgba(0,0,0,.6);
    box-shadow:5px 5px 10px rgba(0,0,0,.6);
}
.ui-btn-group-tiled .c-btn-green{
    background-color: #78f404;
    border-color: #78f404;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5,#83d13a),to(#83d13a));
    color: #fff;
    box-shadow:5px 5px 10px rgba(0,0,0,.6);
}
.c-btn-green:before {
    border-color: #78f404;
}
.ui-btn-group-tiled .c-btn-green:not(.disabled):not(:disabled):active,.ui-btn-group-tiled .c-btn-green:active {
    background: #74a14b;
    border-color: #74a14b;
    color: rgba(255, 255, 255, 0.5);
    box-shadow:5px 5px 10px rgba(0,0,0,.6);
}
.c-friends{
    width: calc(100% - 40px);
    height: auto;
    margin: 10px 10px 0;
    background: #fff;
    border-radius: 4px;
    padding:10px;
    position: relative;
}
.c-up-friends{
    position: absolute;
    top: -4px;
    right: -4px;
    width: 53px;
    height: 53px;
    background-image: url(../img/up-friend.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    z-index: 2;
}
.c-friends-info{
    padding-left:5px;
    border-bottom:1px solid #ccc;
}
.c-friends-info span{
    color:#6b6b6b;
}
.c-friends-list{
    width:100%;
    height: 74px;
    margin-top:10px;
    position: relative;
}
.c-friends-intro{
    width: 20%;
    height: 74px;
    float:left;
    position: relative;
}
.c-bookmark {
    width: 7px;
    height:12px;
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 0px;
    background-image: url(data:image/jpg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wAARCAAMAAcDASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwDsYZpv7Wf94+7ewPzH3or1qfRLE6akQhACtvBHUMc5OfxNFfK/2VUp6Ke+p+evIq1F2VTfXr1P/9k=);
}
.c-friends-intro .c-person-name{
    color:#000;
    letter-spacing:0;
}
.c-form {
    padding-top: 15px;
}
.c-yellow-color {
    color: #FB9026;
}
.c-pull-right {
    float: right;
    margin-right: 20px;
}
.c-qrcode img {
    width: 180px;
}
.c-qrcode + span{
    height:24px;
    line-height: 24px;
    color:#fff;
    text-align: center;
}
/*shared css end*/
/*activity-detail css start*/
.c-detail-container {
    padding: 0 15px;
    margin: 10px auto;
}
.c-detail-container section{
    margin-top: 10px;
}
.c-detail-title{
    background-image: url("../img/activily_detail.png");
    background-repeat: no-repeat;
}
.c-detail-container h2{
    height:25px;
    line-height: 25px;
    padding-left: 10px;
    font-size: 16px;
    color:#f00;
    font-weight: bolder;
}
.c-detail-num{
    font-size: 12px;
    font-weight: bolder;
    padding-top:5px;
    height: 20px;
    line-height: 20px;
}
.c-detail-container ul{
    list-style-type: none;
}
.c-detail-container li{
    padding:2px 0;
    font-size: 12px;
}
.c-detail-container ol{
    margin-left:15px;
}
.c-detail-container ol li{
    list-style-type: decimal;
}
.c-detail-container ol li img{
    list-style-type: decimal;
}
.c-detail-qr{
    height:80px;
}
.c-detail-qr img{
    vertical-align:middle;
    width: 80px;
    height: 80px;
}
.c-red-font{
    color:#f00;
    text-shadow:1px 1px 1px rgba(0,0,0,.3);
}
.c-white-color {
    color: #FFF;
}
/*activity-detail css end*/
