.ui-list .ui-grid-trisect li {
    padding-bottom: 0;
}
.ui-tooltips-vip {
    text-align: center;
}
.ui-tooltips-vip .ui-tooltips-cnt {
    padding-left: 0;
}
.ui-dialog .ui-dialog-bd {
    color: #FD642E;
    text-align: center;
}
.ui-dialog .ui-dialog-ft button {
    background: #FD642E;
    color: #FFF;
}
.ui-dialog .ui-dialog-ft button:active {
    background: #fff;
    color: #FD642E;
}
.ui-dialog-notice .ui-dialog-cnt {
    width: 50px;
    height: 50px;
    /*background: rgba(157, 192, 46, 0.65);*/
    border-radius: 50%;
}